<html>
<head>
{#<title>{{data.album_name}}</title>
<style>
a:active  {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
a:link    {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
a:visited {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
a:hover   {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
</style>#}
</head>
{#<body bgcolor="{{settings['bgcolor']}}">#}
<body>
<table align="center" cellspacing="3px" cellpadding="0px" width="90%" height="90%" border="1">
{% for week in data.month %}
<tr>
    {% for date in week %}
        <td>{{ date.day }}</td>        
    {% endfor %}
</tr>
{% endfor %}
</table>
</body>
</html>
