<html>
<head>
<title>{{data.title}}</title>
{#<style>
a:active  {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
a:link    {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
a:visited {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
a:hover   {color:{{settings['link_color']}}; text-decoration:underline; font-family: Arial;}
</style>#}
</head>
{#<body bgcolor="{{settings['bgcolor']}}">#}
<body>
<table width="90%" align="center" height="100%">
<tr>
<td>
<a href="{{data.prev_month_link}}">prev</a>
</td>
<td align="center">
{{data.title}}
</td>
<td align="right">
<a href="{{data.next_month_link}}">next</a>
</td>
</tr>
<tr>
<td colspan="3">
<table align="center" cellspacing="1px" cellpadding="0px" width="100%" height="100%" border="1">
{% for week in data.month %}
<tr>
    {% for date in week %}
    <td valign="top">
        <table width="100%">
        <tr>
        <td bgcolor="#90ff90">{{ date.day }}</td>
        </tr>
        <tr><td bgcolor="#9090ff"><a href="test" style="color:black;text-decoration:none;">test</a></td></tr>
        <tr><td bgcolor="#90ffff"><a href="test2" style="color:black;text-decoration:none;">test 2</a></td></tr>        
        </table>
    </td>        
    {% endfor %}
</tr>
{% endfor %}
</table>
</td></tr></table>
</body>
</html>
